
@{
    ViewBag.Title = "System";
}

<h2>@Fa.System</h2>
<hr />
<body>
    <a href="@Url.Action("Index","Admin")" >@Fa.AdminMgnt</a>
    <br />
    <a href="@Url.Action("Index","Executer")">@Fa.ExecuterMgnt</a>
    <br />
    <a href="@Url.Action("Index","College")">@Fa.CollegeMgnt</a>
    <br />
    <a href="@Url.Action("Index", "EducationalGroup")">@Fa.EducationalGroupMgnt</a>
    <br />
    <a href="@Url.Action("Index","ResearchGroup")">@Fa.ResearchGroupMgnt</a>
    <br />
    <a href="@Url.Action("Index","Employer")">@Fa.EmployerMgnt</a>
    <br />
    <a href="@Url.Action("Index","Staff")">@Fa.Staff</a>
    <br />
    <a href="@Url.Action("Index","Project")">@Fa.ProjectMgnt</a>
</body>
