@{
    ViewBag.Title = "ProjectInfo";
}

<h2>@ViewBag.ProjectInfo.Title</h2>
<hr />

<body>
    <button class="delete-project" data-id="@ViewBag.ProjectInfo.Id" data-name="@ViewBag.ProjectInfo.Title" style="float:left">@Fa.Delete</button>
    <a href="@Url.Action("EditProject","Project",new {id= @ViewBag.ProjectInfo.Id})" style="float:left">@Fa.Edit</a>
    <br />
    <label>@Fa.Title : </label><label>@ViewBag.ProjectInfo.Title</label>
    <br />
    <label>@Fa.ProjectId : </label><label>@ViewBag.ProjectInfo.ProjectId</label>
    <br />
    <label>@Fa.EmployerName : </label><label>@ViewBag.ProjectInfo.Employer</label>
    <br />
    <label>@Fa.ProjectExecuter : </label><label>@ViewBag.ProjectInfo.Executer</label>
    <br />
    <label>@Fa.CollegeName : </label><label>@ViewBag.ProjectInfo.College</label>
    <br />
    <label>@Fa.EducationalGroupName : </label><label>@ViewBag.ProjectInfo.EducationalGroup</label>
    <br />
    <label>@Fa.ResearchGroupName : </label><label>@ViewBag.ProjectInfo.ResearchGroup</label>
    <br />
    <label>@Fa.Price : </label><label>@ViewBag.ProjectInfo.Price</label>
    <br />
    <label>@Fa.OverHeadPrice : </label><label>@ViewBag.ProjectInfo.OverHeadPrice</label>
    <br />
    <label>@Fa.ReceivePrice : </label><label>@ViewBag.ProjectInfo.ReceivePrice</label>
    <br />
    <label>@Fa.RemainPrice : </label><label>@ViewBag.ProjectInfo.RemainPrice</label>
    <br />
    <label>@Fa.PaymentPrice : </label><label>@ViewBag.ProjectInfo.PaymentPrice</label>
    <br />
    <label>@Fa.MainContractId : </label><label>@ViewBag.ProjectInfo.MainContractId</label>
    <br />
    <label>@Fa.MainContractDate : </label><label>@ViewBag.ProjectInfo.MainContractDate</label>
    <br />
    <label>@Fa.InternalContractId : </label><label>@ViewBag.ProjectInfo.InternalContractId</label>
    <br />
    <label>@Fa.InternalContractDate : </label><label>@ViewBag.ProjectInfo.InternalContractDate</label>
    <br />
    <label>@Fa.ProjectEndTime : </label><label>@ViewBag.ProjectInfo.ProjectEndDate</label>
    <br />
    <label>@Fa.PhaseNum : </label><label>@ViewBag.ProjectInfo.PhasesNum</label>
    <br />
    <label>@Fa.ProjectStatus : </label>
    @{
        var projectstatus = test_website.Services.DefaultOptions.ProjectStatus();
        var projecttype = test_website.Services.DefaultOptions.ProjectType();
     }
    @foreach (var a in projectstatus)
    {
        if (a.Key == (int)ViewBag.ProjectInfo.ProjectStatus)
        {
            <label>@a.Value</label>
        }
    }
    <br />
    <label>@Fa.ProjectType : </label>
    @foreach (var a in projecttype)
    {
        if (a.Key == (int)ViewBag.ProjectInfo.ProjectType)
        {
            <label>@a.Value</label>
        }
    }
    <br />
    <label>@Fa.Explain : </label><label>@ViewBag.ProjectInfo.Explain</label>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @using (Html.BeginForm("DeleteProject", "Project"))
        {
            <input type="hidden" name="id" id="project-id" />
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <span id="name"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Fa.No</button>
                        <button type="submit" class="btn btn-primary">@Fa.Yes</button>
                    </div>
                </div>
            </div>
        }
    </div>

</body>



@section scripts{
    <script type="text/javascript">
        var deleteMsg = '@Fa.DeleteProject';
        $('.delete-project').click(function () {
            $('#exampleModal').find('#name').text(deleteMsg.replace('{0}', $(this).data('name')));
            $('#exampleModal').find('#project-id').val($(this).data('id'));
            $('#exampleModal').modal('show');
        })
    </script>
}
