@model System.Collections.Generic.List<test_website.Models.CollegeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>@Fa.CollegeMgnt</h2>
<hr />
<a href="@Url.Action("CreateCollege","College")">@Fa.CreateCollege</a>


<table class="table">
    <thead>
        <tr>
            <th>@Fa.CollegeName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
            {
            <tr>
                <td>
                    @a.Name
                    <!-- Button trigger modal -->
                    <button data-id="@a.Id" style="float:left" type="button" data-name="@a.Name" class="btn btn-primary delete-college">@Fa.Delete</button>
                    <a href="@Url.Action("EditCollege","College",new { id = a.Id })" style="float:left">@Fa.Edit</a>
                </td>
            </tr>
            }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @using (Html.BeginForm("DeleteCollege", "College"))
    {
        <input type="hidden" name="id" id="college-id"/>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <span id="name"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Fa.No</button>
                        <button type="submit" class="btn btn-primary">@Fa.Yes</button>
                    </div>
                </div>
            </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        var deleteMsg = '@Fa.DeleteCollege';
        $('.delete-college').click(function () {
            $('#exampleModal').find('#name').text(deleteMsg.replace('{0}', $(this).data('name')));
            $('#exampleModal').find('#college-id').val($(this).data('id'));
            $('#exampleModal').modal('show');
        })
    </script>
    }









